.recipes-page {
    background: linear-gradient(to bottom, #5ca946, #3c8d40);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .recipes-header {
    background-color: #3c8d40;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  
  .recipes-header h1 {
    font-size: 1.5rem;
    color: white;
  }
  
  .profile-button {
    background-color: #5ca946;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .profile-button:hover {
    background-color: #3c8d40;
  }
  
  .recipes-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
  }
  
  .recipe-card {
    background-color: #3c8d40;
    color: white;
    text-align: center;
    border-radius: 8px;
    padding: 1rem;
    width: 150px;
    height: 300px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .recipe-card:hover {
    transform: scale(1.1);
  }
  
  .recipe-image {
    width: 100px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    object-fit: cover; /* Ensures the image fits within the circle */
    border: 2px solid white; /* Adds a border around the image */
  }
  